#header {
  button {
    background-color: #fbfbfd;
    margin-left: 27px;
    margin-top: 2px;
    color: #424c5e;
    border: none;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 600;
  }
  .header-background {
    $breakpoint-tablet: 768px;
    @media (min-width: $breakpoint-tablet) {
      max-width: 768px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 680px;
      object-fit: cover;
    }
  }
  .header1 {
    position: relative;
    @media screen {
      max-width: 768px;
    }

    h2 {
      @media screen {
        max-width: 768px;
      }
      margin-left: 120px;
      margin-top: 110px;
      color: #424c5e;
      font-size: 3.5rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      max-width: 500px;
      font-weight: 700;
    }

    p {
      @media screen {
        max-width: 768px;
      }
      color: #424c5e;
      font-size: 1.5rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      max-width: 500px;
      margin-left: 120px;
      margin-top: 20px;
      font-weight: 600;
    }

    img {
      @media screen {
        max-width: 768px;
      }
      margin-left: 130px;
      margin-top: 30px;
      width: 150px;
    }
  }

  .header2 {
    position: relative;
    button {
      margin-top: 20px;
      margin-left: 120px;
      padding: 25px;
      width: 170px;
      color: white;
      background-color: #424c5e;
      border-radius: 15px;
      font-size: 1.1rem;
      font-weight: 700;
      border-color: white;
      cursor: pointer;
    }
  }

  .header3 {
    position: relative;
    display: flex;
    margin-left: 500px;
    margin-top: -50px;

    a {
      text-decoration: none;
      color: #424c5e;
      font-size: 1.3rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 600;
    }
    ul {
      list-style: none;
      margin-top: 20px;
    }

    .fa-solid {
      margin-top: 20px;
      padding: 8px;
      margin-left: 40px;
    }

    .fa-magnifying-glass {
      border: none;
      margin-left: 10px;
    }
  }
}

#ul {
  position: relative;
  display: inline-block;

  li {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .li1:hover,
  .li1:focus {
    background-color: #2980b9;
  }

  .li1 a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
}

#middle {
  margin-top: 260px;
  text-align: center;

  h3 {
    color: #afb6be;
  }

  h4 {
    color: #343f52;
    text-align: start;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  p {
    color: #6069a1;
    text-align: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 1.1rem;
  }

  h2 {
    color: #343f52;
    font-size: 2.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    max-width: 700px;
    margin-left: 400px;
    font-weight: 700;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 200px;
  }

  .grid-item {
    margin-top: 35px;
    max-width: 250px;
  }

  svg {
    display: flex;
    margin-left: -60px;
    float: left;
    margin-top: 2px;
    width: 40px;
    height: 40px;
    color: #424c5e;
  }
}

#center {
  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f6f7f9;
    img {
      width: 750px;
      height: 900px;
      object-fit: cover;
    }
    h2 {
      font-size: 2.2rem;
      color: #343f52;
      max-width: 450px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    h3 {
      margin-top: 120px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      color: #afb6be;
    }

    h4 {
      margin-left: 150px;
      color: #343f52;
      font-size: 1.4rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }

    p {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      margin-left: 150px;
      font-size: 1.2rem;
      max-width: 400px;
      color: #424c5e;
    }

    .item1 {
      svg {
        color: #424c5e;
        margin-left: 46px;
        width: 55px;
        height: 55px;
        margin-bottom: -79px;
      }
    }
    .item2 {
      svg {
        color: #424c5e;
        margin-left: 46px;
        width: 55px;
        height: 55px;
        margin-bottom: -79px;
      }
    }
    .item3 {
      svg {
        color: #424c5e;
        margin-left: 46px;
        width: 55px;
        height: 55px;
        margin-bottom: -79px;
      }
    }
  }
}

#center2 {
  .center2_1 {
    text-align: center;

    h5 {
      color: #afb6be;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    h2 {
      font-size: 2.4rem;
      font-weight: 630;
      margin-top: 20px;
      color: #343f52;
      max-width: 580px;
      margin-left: 520px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
  }

  .swiper {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .swiper-pagination-bullet-active {
    background-color: #afb6be;
  }
}

#center3 {
  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f6f7f9;

    .grid-item {
      img {
        margin-left: 100px;
        width: 85%;
        height: 650px;
        object-fit: cover;
      }

      h4 {
        margin-left: 100px;
        color: #afb6be;
        margin-top: 100px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: 1.3rem;
      }

      h2 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: 2.7rem;
        font-weight: 640;
        margin-left: 110px;
        margin-top: 35px;
        color: #424c5e;
        max-width: 550px;
      }

      p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        color: #424c5e;
        margin-left: 110px;
        margin-top: 25px;
        font-size: 1.2rem;
        max-width: 650px;
      }

      .grid-item1 {
        display: flex;
        .grid-item1-1 {
          h3 {
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            margin-left: 110px;
            font-size: 2.8rem;
            color: #343f52;
          }
          h6 {
            margin-left: 110px;
            font-size: 1.2rem;
            color: #343f52;
          }
        }
        .grid-item1-2 {
          h3 {
            font-family: system-ui, -apple-system, BlinkMacSystemFont,
              "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
              "Helvetica Neue", sans-serif;
            margin-left: 110px;
            font-size: 2.8rem;
            color: #343f52;
          }
          h6 {
            margin-left: 110px;
            font-size: 1.2rem;
            color: #343f52;
          }
        }
      }
    }
  }
}

#header20 {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body {
    background: #000;
    color: #000;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .mySwiper2 {
    width: 1200px;
  }

  .swiper-slide img {
    display: block;
    width: 40%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
  }

  button {
    border: none;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 150px;
    padding: 20px;
    background-color: white;
    color: #424c5e;
    font-size: 1.5rem;
  }

  .header30 {
    .header3 {
      position: relative;
      display: flex;
      margin-left: 500px;
      margin-top: -50px;

      a {
        text-decoration: none;
        color: #424c5e;
        font-size: 1.3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 600;
      }
      ul {
        list-style: none;
        margin-top: 20px;
      }

      .fa-solid {
        margin-top: 20px;
        padding: 8px;
        margin-left: 40px;
      }

      .fa-magnifying-glass {
        border: none;
        margin-left: 10px;
      }
    }
    img {
      margin-top: 40px;
      margin-left: 150px;
    }
  }

  .texts {
    text-align: center;

    .buttons1 {
      margin-right: 60px;
      .b1 {
        background-color: orange;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
      .b2 {
        margin-left: 10px;
        background-color: red;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
      .b3 {
        margin-left: 10px;
        background-color: blue;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
      .b4 {
        margin-left: 10px;
        background-color: green;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
      .b5 {
        background-color: purple;
        margin-left: 10px;
        padding: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    h6 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      color: #796990;
      font-size: 1.2rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1.6rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 650;
      color: #343f52;
    }

    p {
      margin-top: -15px;
      margin-right: 200px;
      font-size: 1.3rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 650;
      color: #afb6be;
    }

    h5 {
      font-size: 1.2rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-weight: 500;
      color: #796990;
      max-width: 650px;
      margin-left: 450px;
    }

    span {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      color: #796990;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .container {
    text-align: center;
    button {
      margin-left: 100px;
      border-radius: 10px;
      padding: 5px;
      color: rgb(255, 255, 255);
      background-color: #796990;
    }
  }
}
